* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-weight: 200;
}

body {
  background-color: #f6f6f8;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alignC {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alignSC {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.con {
  width: 70%;
  margin: 0 auto;
}

nav.one {
  color: white;
  background-color: #2b2e34;
}

.pad {
  padding: .8em;
  margin: 0 5px;
}

div.nav > div {
  -webkit-transition: background 499ms ease-in;
  transition: background 499ms ease-in;
  font-family: roboto;
  font-weight: normal;
}

div.nav h4 {
  -webkit-transition: background 499ms ease-in;
  transition: background 499ms ease-in;
  font-family: roboto;
  font-weight: normal;
}

div.nav p {
  -webkit-transition: background 499ms ease-in;
  transition: background 499ms ease-in;
  font-family: roboto;
  font-weight: normal;
}

div.nav > div:hover {
  background-color: tomato;
}

input.search, select {
  background-color: #25262b;
  border: none;
  outline: none;
  padding: 4px;
  color: white;
}

select {
  background-color: #25262b;
  border: none;
  outline: none;
  padding: 10px;
  color: white;
}

select:hover option {
  display: block;
}

input.search::-webkit-input-placeholder {
  color: white;
}

input.search:-ms-input-placeholder {
  color: white;
}

input.search::-ms-input-placeholder {
  color: white;
}

input.search::placeholder {
  color: white;
}

.flag {
  /* border-right: 1px rgba(230, 231, 233, .2) solid; */
  margin-left: 10px;
}

nav.second {
  background-color: #25262b;
}

nav.second main {
  border-bottom: 1px solid rgba(230, 231, 233, 0.2);
}

nav.end {
  color: white;
  background-color: #25262b;
}

nav.end > main > h3 {
  margin: 4px;
  font-weight: normal;
  font-size: bold;
  font-family: roboto;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  cursor: pointer;
}

nav.end > main > h3:hover {
  color: tomato;
}

nav.end > main > select {
  margin: 4px;
  font-weight: normal;
  font-size: bold;
  font-family: roboto;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  cursor: pointer;
  color: #f6f6f8;
}

nav.end > main > select:hover {
  /* color: tomato; */
}

section.one {
  background-color: #2b2e34;
  color: white;
  position: relative;
}

.w {
  font-family: roboto;
  width: 280px;
}

#medium {
  font-size: 170%;
  font-weight: normal;
}

#large {
  font-weight: bold;
  font-size: 440%;
}

section.one img {
  background-color: #2b2e34;
  width: 100%;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
  bottom: 40%;
  left: 18%;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b {
  color: white;
  font-family: roboto;
  font-size: large;
  margin-top: 6px;
}

.b div {
  font-weight: bold;
  border-radius: 4px;
  background-color: transparent;
  border: 1.7px solid;
  padding: .4em .8em;
  -webkit-transition: background, border, 400ms ease-in-out , -webkit-box-shadow;
  transition: background, border, 400ms ease-in-out , -webkit-box-shadow;
  transition: box-shadow , background, border, 400ms ease-in-out;
  transition: box-shadow , background, border, 400ms ease-in-out , -webkit-box-shadow;
}

.learn {
  margin-left: 10px;
}

.b div:hover {
  background-color: tomato;
  border: none;
  padding: calc(.4em + 1.7px) calc(.8em + 1.7px);
  -webkit-box-shadow: 0px 0px 8px 4px rgba(230, 231, 233, 0.2);
          box-shadow: 0px 0px 8px 4px rgba(230, 231, 233, 0.2);
  cursor: pointer;
}

main.all img {
  height: 30px;
  padding: 0;
  margin: 0 3px 0 0;
  opacity: .8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main.all {
  height: 44px;
}

section.second {
  /* position: relative; */
  /* top: -3px; */
  background-color: tomato;
  color: white;
  text-shadow: 1px 1px 3px 4px rgba(230, 231, 233, 0.2);
}

section.second > main > div, section.end > main > div {
  color: white;
  text-shadow: 1px 1px 3px 4px rgba(230, 231, 233, 0.2);
  padding: 1em;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.secmainend.flex {
  color: #262d38;
}

.bborange {
  border-bottom: coral;
}

div.secmainend > .flex > * {
  margin: auto 4px;
}

.l, .r {
  background-color: #f0f0f0;
  padding: 1px;
  border-radius: 2px;
}

#SHOP:hover option {
  display: block;
}
